@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
    font-family: "Oks-Free";
    src: url("./assets/font/oks-free.otf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    display: flex;
    position: absolute;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

header .container-1 {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

header .container-1 a {
    font-family: "Oks-Free", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 160%;
    color: #FFFFFF;
    text-decoration: none;
}

header .container-1 nav {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 50px;
}

header .container-1 nav a {
    font-family: "Montserrat", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    transition: 0.2s;
    color: #FFFFFF;
}

header .container-1 nav a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

header .container-2 {
    display: flex;
    width: 24%;
    justify-content: space-around;
    align-items: center;
}

header .container-2 a {
    font-family: "Montserrat", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;
    padding: 10px 44px;
    border: 1px solid #FFFFFF;
    border-radius: 32px;
    text-decoration: none;
    transition: 0.2s;    
}

header .container-2 a:hover {
    font-weight: 800;
    transform: scale(1.06);
    color: #000000ba;
    border: 1px solid #ffffffc5;
    background-color: #ffffffc5;
    box-shadow: 0 0 5px #ffffffc5, 0 0 10px #ffffffc5, 0 0 30px #ffffffc5, 0 0 30px #ffffffc5;
}

header .container-2 p {
    font-family: "Montserrat", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./assets/background/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    height: 100vh;
    padding-left: 8%;
}

main .container-1 {
    display: flex;
    position: absolute;
    margin-bottom: 4%;
    flex-direction: column;
    gap: 18px;
}

main .container-1 h1 {
    font-family: "Dela Gothic One", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 118%;
    color: #FFFFFF;
}

main .container-1 p {
    font-family: "Montserrat", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}

main .container-1 div {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

main .container-1 div a {
    font-family: "Montserrat", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #FFFFFF;
}

main .container-1 div .select-game {
    padding: 12px 30px;
    background: #E32966;
    box-shadow: 0 0 5px #E329664D, 0 0 20px #E329664D, 0 0 30px #E329664D, 0 0 30px #E329664D;
    border-radius: 32px;
    transition: 0.2s; 
}

main .container-1 div .select-game:hover {
    box-shadow: 0 0 5px #E32966, 0 0 20px #E32966, 0 0 30px #E32966, 0 0 30px #E32966;
    transform: scale(1.1);
}

main .container-1 div .select-prices {
    padding: 12px 30px;
    border: 1.5px solid #E32966;
    border-radius: 32px;
    transition: 0.2s;
}

main .container-1 div .select-prices:hover {
    background: #E32966;
    box-shadow: 0 0 5px #E32966, 0 0 10px #E32966, 0 0 8px #E32966, 0 0 8px #E32966;
    transform: scale(1.08);
}

main .container-2 {
    display: flex;
    margin-top: 38%;
    gap: 16px;
}

.icon-vk {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("./assets/icons/icon-vk.png");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-facebook {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("./assets/icons/icon-facebook.png");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-youtube {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("./assets/icons/icon-youtube.png");
    background-repeat: no-repeat;
    background-position: center;
}

.vector-arrow-2 {
    display: block;
    background-image: url("./assets/vector/arrow-2.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
}

.arrow {
    background-image: url("./assets/vector/arrow-1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.arrow.right {
    background-image: url("./assets/vector/arrow-1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    transform: scaleX(-1);
}


.title {
    font-family: "Dela Gothic One", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 118%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.background {
    display: flex;
    background-image: url("./assets/background/bg-main.png");
    background-repeat: repeat;
    height: 100vh;
}

.section-about {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-about .container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-about .container-1 h1 {
    margin-right: 30%;
}

.section-about .container-1 img {
    display: block;
    width: 84%;
}

.section-about .container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 60px;
    width: 28%;
    gap: 26px;
}

.section-about .container-2 h2 {
    font-family: "Oks Free", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 118%;
    color: #FFFFFF;    
}

.section-about .container-2 p {
    font-family: "Montserrat", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 118%;
    color: #FFFFFF;    
}

.section-games {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-games > .title {
    display: flex;
    height: 16%;
}

.section-games .cards {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-games .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #162BED;
    width: 340px;
    height: 440px;
    color: #FFFFFF;
    filter: drop-shadow(0px 8px 24px #ffffff1d);
    background: radial-gradient(ellipse at top, #0c1992, transparent), radial-gradient(circle at top, #0014c5, transparent), radial-gradient(circle at bottom, #dc18c888, transparent);
    border-radius: 14px;
    transition: 0.2s;
    border: 1px solid #ffffff52;
}

.section-games .cards .card:hover {
    transform: scale(1.08);
    filter: drop-shadow(0px 8px 24px #ffffff83);

}

.section-games .cards .card img {
    border-radius: 14px 14px 0px 0px;
    width: 340px;
    height: 185.5px;
}

.section-games .cards .card h1 {
    font-family: "Montserrat", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 118%;
    margin-top: 30px;
    height: 30px;
}

.section-games .cards .card p {
    font-family: "Montserrat", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 118%;
    text-align: center;
    margin-top: 10px;
    width: 280px;
    height: 90px;
}

.section-games .cards .card a {
    font-family: "Montserrat", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    text-align: center;
    background: #E32966;
    border: 1px solid #E32966;
    box-shadow: 0px 9px 26px rgba(227, 41, 102, 0.3);
    border-radius: 32px;
    padding: 14px 42px;
    color: #FFFFFF;
    margin-top: 0px;
    transition: 0.2s;
    box-shadow: 0 0 5px #dc18c8, 0 0 25px #dc18c8, 0 0 10px #dc18c8, 0 0 10px #dc18c8;
}

.section-games .cards .card a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #d93bc9, 0 0 35px #d93bc9, 0 0 40px #d93bc9, 0 0 40px #d93bc9;
}

.section-game-list {
    flex-direction: column;
}

.section-game-list .title {
    display: flex;
    align-items: center;
    height: 24%;
    margin-bottom: 10px;
    margin-left: 4%;
}

.section-game-list .game-section {
    display: flex;
    flex-direction: row;
}

.section-game-list .game-section .genres {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 43px;
    margin-top: 14px;
}

.section-game-list .game-section .genres div {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.section-game-list .game-section .genres div a {
    text-decoration: none;
    font-family: "Montserrat", "Arial", "Helvetica", "Sans-Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 118%;
    color: #FFFFFF;
    opacity: 0.7;
    transition: 0.2s;
}

.section-game-list .game-section .genres div a:hover {
    color: #E32966;
}

.section-game-list .game-section .game-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-game-list .game-section .game-list .container {
    display: flex;
    height: 100%;
    align-items: center;
}

.section-game-list .game-section .game-list .games {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 8px 24px #ffffff1d);
}

.section-game-list .game-section .game-list .games div {
    transition: 0.2s;
    cursor: pointer;
}


.section-game-list .game-section .game-list .games div:hover {
    filter: drop-shadow(0px 8px 24px #ffffff83);
    transform: scale(1.06);
}

.section-game-list .game-section .game-list .games .game-1 {
    display: flex;
    position: relative;
    width: 328px;
    height: 444px;
    background-image: url("./assets/games/beat-saber.png");
    background-position: center;
    z-index: 3;
}

.section-game-list .game-section .game-list .games .game-2 {
    display: flex;
    position: relative;
    width: 368px;
    height: 396px;
    background-image: url("./assets/games/half-life.png");
    background-position: center;
    background-position: right;
    margin-left: -32px;
    z-index: 2;
}

.section-game-list .game-section .game-list .games .game-3 {
    display: flex;
    position: relative;
    width: 284px;
    height: 356px;
    background-image: url("./assets/games/skyrim.png");
    background-position: center;
    background-position: right;
    margin-left: -32px;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: #6a6969; 
}
   
::-webkit-scrollbar-thumb {
    background: #3d3d3d; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #928e8e; 
}   